/* Style for the container */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: var(--space); /* 1rem */
  font-size: var(--text-normal); /* 16px */
}

/* Style for the checkbox input */
.custom-checkbox {
  width: 1.25rem; /* 20px */
  aspect-ratio: 1/1;
  cursor: pointer;
  appearance: none;
  background-color: var(--clr-white-400); /* #ffffff */
  border: 2px solid var(--clr-black-210); /* #ddd */
  border-radius: var(--bdr-4); /* 4px */
  position: relative;
  transition: all 0.3s ease;
}

.custom-checkbox:checked {
  background-color: var(--clr-green-240); /* #4caf50 */
  border-color: var(--clr-green-240); /* #4caf50 */
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem; /* 10px */
  aspect-ratio: 1/1;
  background-color: var(--clr-white-400); /* #ffffff */
  border-radius: 50%;
  transform: translate(-50%, -50%)
}

/* Style for the label */
.checkbox-label {
  font-size: var(--text-light); /* 14px */
  color: var(--clr-black-400); /* #343434 */
  cursor: pointer;
}

/* Disabled state */
.checkbox-container.disabled .checkbox-label {
  color: var(--clr-black-200); /* #a1a1a1 */
}

.checkbox-container.disabled .custom-checkbox {
  border-color: var(--clr-black-210); /* #ddd */
  background-color: var(--clr-black-005); /* #f7f7f7 */
  cursor: not-allowed;
}

.checkbox-container.disabled .custom-checkbox:checked {
  background-color: var(--clr-black-220); /* #dedede */
}
