.otp-container {
  --font-size: var(--text-thin); /* 10px */

  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 124px 0 216px 84px;
  padding: 0;
}

.otp-container h2 {
  font-size: var(--text-large);  /* 32px */
  font-weight: 800;
  line-height: var(--text-small);  /* 12px */
  letter-spacing: -0.48px;
  text-align: left;
}

.otp-container p {
  font-size: var(--text-light);  /* 14px */
  line-height: var(--text-light);  /* 14px */
  letter-spacing: -0.11px;
  text-align: left;
  margin-top: var(--space-md);  /* 1.5rem */
  color: var(--clr-black-100); /* #666666 */
}

.otp-container .description {
  margin: 0 auto;
}

.otp-container .description a {
  color: var(--clr-blue-160); /* #496ddb */
  text-decoration: underline;
}


.input-fields {
  margin-top: 42px;
}
