.carousel-card-container{
  --space: 1rem;
  --dark-slate-blue: #1d3670;
  --dark-blue: #030229;
  --dark-secondary: #006c51;
  --warning: #e02626;
  --dark-text-1: #666;
  --font-normal: 16px;
  --font-large: 32px;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-ultra-bold: 800;
}
.carousel-card-container h3{
  align-self: stretch;
  flex-grow: 0;
  font-size: 14px;
  font-weight: var(--font-medium);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: left;
  color: var(--dark-text-1);
  text-transform: uppercase;
}
.carousel-card-container strong{
  height: 45px;
  margin: 0 18px 3.7px 0;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue);
}

.increase{
  color: var(--dark-secondary);
}

.decrease{
  color: var(--warning);
}