.carousel-card-container h3 {
  align-self: stretch;
  flex-grow: 0;
  font-size: 14px;
  font-weight: var(--font-medium);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: left;
  color: var(--clr-black-100);
  text-transform: uppercase;
}
.carousel-card-container strong {
  height: 45px;
  margin: 0 18px 3.7px 0;
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--clr-blue-700);
}

.increase {
  color: var(--clr-green-390);
}

.decrease {
  color: var(--clr-pink-170);
}
