section.ration-card-container-card-wrapper {
  margin-top: calc(var(--space) * 1.5);
  background-color: var(--clr-white-400);
  border-radius: var(--bdr-8);

  align-self: stretch;
  flex-grow: 0;
  gap: 16px;
  padding: 0 0 calc(var(--space) * 1.5);
  box-shadow: var(--box-shahow-150);

  width: 100%;
  flex-grow: 1;

  header {
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.2px;
    text-align: left;

    font-size: var(--text-normal);
    font-weight: var(--font-bold);
    color: var(--clr-white-400);
    user-select: none;

    gap: var(--space);

    sub {
      font-weight: var(--font-normal);
      opacity: 0.8;
    }
  }

  .ration-card-container-card-main {
    padding: 16px 24px;

    &:not(:has(> form)),
    &:has(> form) > form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: var(--space-sm) calc(var(--space) * 1.5);
    }

    &.columns-2 {
      &:not(:has(> form)),
      &:has(> form) > form {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      }
    }
    &.columns-4 {
      &:not(:has(> form)),
      &:has(> form) > form {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    }
    &.columns-auto-fit {
      &:not(:has(> form)),
      &:has(> form) > form {
        grid-template-columns: repeat(auto-fit, 1fr);
      }
    }
    &.columns-auto-fill {
      &:not(:has(> form)),
      &:has(> form) > form {
        grid-template-columns: repeat(auto-fill, 1fr);
      }
    }
  }
}

section.ration-card-container-card-wrapper .head-container {
  padding: 10px 24px;
  background-color: var(--clr-blue-300);
  border-radius: 8px 8px 0 0;

  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
