.ration-card-registration-sidebar-container {
  width: calc(var(--space) * 15);
  padding-top: calc(var(--space) * 1.5);
  padding-right: calc(var(--space) * 2);

  background-color: var(--clr-white-400);
  height: 100%;

  z-index: 1;
}

.ration-card-registration-sidebar-container h2 {
  color: var(--clr-black-400);
  font-size: var(--text-normal);
  align-self: stretch;
  flex-grow: 0;
  font-weight: var(--font-semi-bold);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.2px;
  b {
    color: var(--clr-green-250);
    font-size: calc(var(--text-normal) * 1.25);
  }
}

.completion-slider {
  margin-top: calc(var(--space) * 0.625);
  height: 8px;
  background-color: var(--clr-black-005);
  border-radius: 100px;
  position: relative;

  z-index: 1;

  .completion-slider-completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    background-color: var(--clr-green-250);
    z-index: 10;
  }
}

.completion-slider,
.completion-slider-completed {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

ul.nav-container {
  margin-top: calc(var(--space) * 1.5);
  border-top: 1px solid var(--clr-black-210);
  padding-top: var(--space);
}
ul.nav-container nav {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

ul.nav-container nav li {
  height: 100%;
  transition: all 0.3s ease;
}

ul.nav-container nav li a {
  display: flex;
  align-items: center;
  gap: calc(var(--space) * 0.5);
  width: 100%;
}
ul.nav-container nav li a .icon-container {
  padding: 4px;
  border: 1px solid var(--clr-black-210);
  border-radius: var(--bdr-4);
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}

ul.nav-container nav li.active,
ul.nav-container nav li:has(svg.completed) {
  .icon-container {
    border-color: var(--clr-green-040);
    background-color: var(--clr-green-010);
    transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
  }
  .title-container {
    color: var(--clr-blue-300);
    font-size: var(--text-normal);
    font-weight: var(--font-bold);
    transition:
      color 0.3s ease,
      font-weight 0.3s ease;
  }
}

.icon-container div {
  display: inline-block;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes scale-and-fade {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.completed-icon {
  animation-name: scale-and-fade;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.active-icon {
  animation-name: bounce-in;
}

.incomplete-icon {
  opacity: 0.8;
}

.icon-container {
  transition: transform 0.3s ease-in-out;
}
