.custom-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 106px;
  height: calc(var(--space) * 3);
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  border-radius: var(--bdr-4);
  &:focus-visible {
    outline: 1px solid;
    outline-color: var(--clr-green-190);
    outline-offset: 3px;
  }

  &:active {
    outline-offset: 0px;
  }

  transition:
    background-color 0.3s,
    border-color 0.3s,
    box-shadow 0.3s,
    transform 0.3s,
    s outline 0.3s ease-in-out;
}

.custom-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.custom-button:active {
  transform: scale(0.95);
}

.custom-button.disabled {
  cursor: not-allowed;
  opacity: 0.4;

  &:hover {
    box-shadow: none;
    transform: scale(1);
  }
}

.custom-button.button-default {
  background-color: transparent;
}

.custom-button.button-contained {
  background-color: var(--button-bg);
  color: #fff;
}

.custom-button.button-outlined {
  border: 2px solid var(--button-bg);
  color: var(--button-bg);
  background-color: transparent;

  width: 106px;
  height: 48px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;

  span.button-text {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.2px;
    text-align: center;
    color: #414141;
  }
}

.custom-button.button-primary {
  --button-bg: var(--clr-green-260);
}

.custom-button.button-secondary {
  --button-bg: #6c757d;
}

.custom-button.button-success {
  --button-bg: #28a745;
}

.custom-button.button-error {
  --button-bg: #dc3545;
}

.custom-button.button-info {
  --button-bg: #17a2b8;
}

.custom-button.button-warning {
  --button-bg: #ffc107;
}

.custom-button.button-small {
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
}

.custom-button.button-medium {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.custom-button.button-large {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

.custom-button.full-width {
  width: 100%;
}

.icon-left,
.icon-right {
  display: inline-block;
}

.button-text {
  display: inline-block;
}
